[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restplus = "*"
flask-migrate = "*"
flask-testing = "*"
python-dotenv = "*"
pyjwt = "*"
marshmallow = "*"
arrow = "*"
pymysql = "*"
gunicorn = "*"
flask-mail = "*"

[requires]
python_version = "3.6"
